doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home Page
        link(id="css-mode" rel="stylesheet" href="/css/main.css")
    body 
        div.header
            h1 Poem Competition
        div.main-body
            div.menu
                a(href='/') Home 
                a(href='/submission') New Submission 
                a(href='') Toggle Mode
                a(href='/logout') Sign Out
                div.winner
                    h2 Current Winner 
                        span No Winner Yet
            div.display-section
                each submission of submissions
                    each user of users
                        if submission.author_id == user.user_id
                            div.user
                                h2= `${user.first_name} ${user.last_name}`
                                //- p= `${user.bio}`
                                p
                                    | #{submission.poem_content}
                                
                                button Vote
                                span= ` ${submission.vote_count} vote so far`
            div.participants
                h1 Current Participants 
                each user of users 
                    a= `${user.first_name} ${user.last_name}`
        div.pagination
            if page >= 2
                a(href="/?page="+(page-1)) Previous Page
            span= `Viewing Page ${page}`
            if submissions.length === 4
                a(href="/?page="+(page+1)) Next Page
    footer
        span Chork 2024. All rights reserved.